.main_slider {
    padding-top: 2rem;
}
.carousel .slider-wrapper {
    width: 80%;
}
.carousel .thumb {
    
}
.carousel {
    text-align: center;
}
.carousel-status .p {
    visibility: hidden;
    text-shadow: none;
}
.carousel-status {
    visibility: hidden;
} 
.carousel .control-arrow {
    visibility: hidden;
}
.carousel-root.main_slider {
    width: 100%;
}