.About {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #14bdad;
    padding: 1rem 8% 2rem;
    background-image: url('../../../public/AboutImage.png');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    color: white;
  }
  
  .AboutContent {
    text-align: left;
    justify-content: flex-end;
    width: 30%;
  }
  
  .About .secondary-color {
    font-size: 60px;
    color: #14bdad;
    font-weight: 600;
    cursor: default;
  }
  
  .AboutContent span {
    font-size: 60px;
  }
  
  .AboutContent h2 {
    font-weight: 500;
  }
  
  @media (max-width: 1170px) {
    .About {
      padding: 1rem 4% 2rem;
    }
  
    .AboutContent {
      width: 50%;
    }
  
    .About .secondary-color {
      font-size: 40px;
    }
  
    .AboutContent span {
      font-size: 40px;
    }
  
    .AboutContent h2 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 768px) {
    .About {
      padding: 1rem 4% 2rem;
      justify-content: center;
      text-align: center;
      height: auto;
      background-position: center;
      background-size: contain;
    }
  
    .AboutContent {
      width: 100%;
    }
  
    .About .secondary-color {
      font-size: 40px;
    }
  
    .AboutContent span {
      font-size: 40px;
    }
  
    .AboutContent h2 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .About {
      padding: 1rem 2% 2rem;
    }
  
    .About .secondary-color {
      font-size: 30px;
    }
  
    .AboutContent span {
      font-size: 30px;
    }
  
    .AboutContent h2 {
      font-size: 16px;
    }
  }
  