.service-card {
    max-width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .service-card__image {
    width: 100%;
    max-height: 250px;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .service-card__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #14bdad;
  }
  
  .service-card__description {
    font-size: 13px;
    color: #555;
  }
  .service-card {
    overflow: hidden;
  }
  
  .service-card__description {
    max-height: 5em;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .service-card.expanded .service-card__description {
    max-height: none;
  }
  
  .read-more-btn {
    width: auto;
  }